/* @import-normalize; */

/* Reset styles */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

nav,
footer,
header,
aside {
  display: block;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  display: block;
  outline: none;
}

body.modal-open {
  overflow: hidden;
}

/* Root styles */

:root {
  --primery-white: #ffffff;
  --primery-black: #121417;
  --primery-blue: #3470ff;
  --primery-font: "Manrope", sans-serif;

  --secondary-blue: #0b44cd;
  --secondary-color: #8a8a89;
  --secondary-font: "Montserrat", sans-serif;
}
